body {
  background: #81bb50;
  font-family: "Tahoma", Helvetica, sans-serif;
  }

h1 {
  font-size: 26px;
  color: #007511;
  font-variant: small-caps;
  text-shadow: 1px 1px 3px #050505
}

h2 {
  font-size: 26px;
  color: #007511;
  font-variant: small-caps;
  text-shadow: 1px 1px 3px #050505
}

h3 {
  font-size: 20px;
  color:#505050;
  font-variant: small-caps;
}
p {
  color: white;
  font-size: 14px;
  margin-left: 14px;
  margin-right: 14px; 
  margin-top: 14px
  
}

a {
  color: #e0d000;  
}
/*
Other elements to style:
  inputs
  buttons
  lists to avoid bullets, etc.
  style the .center class
  */
