/** sets background image, text font and weight **/
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   background: #ddd url('http://subtlepatterns.com/patterns/symphony.png') center top;
}

/** for anything that needs to be centered horizontally **/
.center_horizontally {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

/** for anything that needs to be centered vertically **/
.center_vertically {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

/** for anything that needs a red background and white dashed border **/
.stitched {
   padding: 20px;
   margin: 10px;
   /*background: #ff0030;*/
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #b00030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
   background-color: red;
   background: url(http://responsivedesign.is/__data/assets/image/0006/3768/background-dark-texture.jpg?v=1.0.0) repeat;
}

/** h1's have padding and big, cursive font**/
h1 {
  padding: 10px;
  text-align: center;
  line-height: 1em;
  font-family: 'Qwigley', cursive;
  font-size: 3em;
}

/** Let it snow! **/
#xmas {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

/** size for Kyra's mustang match gif **/
.match_gif {
	width: 25%;
}

/** for displaying our data results **/
.data {
  font-family: monospace;
  margin: 20px;
}

/* for h1's with a specific, reasonably high height */
.h1_height {
  height: 5em;
}

/* for things that go above the snowflakes */
.above_xmas {
  position: absolute;
  z-index: 3;
}

/** keeps coming up so made into a class **/
.margin_twenty {
	margin: 20px;
}

.strikethough:link {
  color: #FFFFFF;text-decoration: line-through;
}
.strikethough:visited {
  color: #FFFFFF;text-decoration: line-through;
}
.strikethough:hover {
  color: #FF66FF;text-decoration: line-through;
}
.strikethough:active {
  color: #FFFFFF;text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}
