/* Site-specific styles */

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    max-width: 50em;

}

function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}

footer {
	text-align: center;
}

img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 20px;
}

a {
	text-decoration: none;
	text-decoration: inherit;
	color: red;
}

a:visited {
	border:none;
	text-decoration:inherit;
	font-style:normal;
	color: #a3211f;
}

a:hover {
    text-decoration: none;
    color: orange;
}

#wrap {
	margin: 10px;
}

iframe {
	text-align: none;
	border-color: red;
}

/* Nav bar css */
.clearfix:after {
   	display:block;
    	clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
	width:100%;
	box-shadow:0px 1px 3px rgba(0,0,0,0.2);
	background:#3e3436;
}
		 
.menu {
	width:1000px;
	margin:0px auto;
}
		 
.menu li {
	margin:0px;
	list-style:none;
	font-family:'Ek Mukta';
}
		 
.menu a {
	transition:all linear 0.15s;
	color:#919191;
}
		 
.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:#be5b70;
}
		 
.menu .arrow {
	font-size:11px;
	line-height:0%;
}
		 
/*----- Top Level -----*/
.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:19px;
}
		 
.menu > ul > li > a {
	padding:10px 40px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
		 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background:#2e2728;
}
		 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;
}
		 
.sub-menu {
	width:160%;
	padding:5px 0px;
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	background:#2e2728;
}
		 
.sub-menu li {
	display:block;
	font-size:16px;
}
		 
.sub-menu li a {
	padding:10px 30px;
	display:block;
}
		 
.sub-menu li a:hover, .sub-menu .current-item a {
	background:#3e3436;
}
h2 {
    color:#ff0700;
}
h1 {
    color:#3207aa;
}
#Hello {
    color:#3207aa;
}
#Goal {
    color:#3207aa;
}
#Projects {
    color:#3207aa;
}
#Events {
    color:#3207aa;
}
#Learning {
    color:#3207aa;
}
#sidebar {
    float: right;
    width: 200px;
}
#container {
    width: 980px;
    margin: 0 auto;
}
#content {
    overflow: hidden;
}

.Officers {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.President {
    background: -webkit-linear-gradient(left, red, orange, yellow);
    -webkit-background-clip: text;
    -wekit-text-fill-color(transparent);
}

.Vice {
    background: linear-gradient(left, red, green, white);
    -webkit-background-clip: text;
    -wekit-text-fill-color: (transparent);
}

.Secretary {
    background: -webkit-linear-gradient(left, red, green);
    -webkit-background-clip: text;
    -wekit-text-fill-color: (transparent);
}

.Webmaster {
    background: -webkit-linear-gradient(left, #00FF00, green, #FF9900, #996600;
    -webkit-background-clip: text;
    -wekit-text-fill-color: (transparent);
}
