/* Site-specific styles */

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    max-width: 50em;

}

function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}

footer {
	text-align: center;
}

img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 20px;
}

a {
	text-decoration: none;
	text-decoration: inherit;
	color: red;
}

a:visited {
	border:none;
	text-decoration:inherit;
	font-style:normal;
	color: #a3211f;
}

a:hover {
    text-decoration: none;
    color: orange;
}

#wrap {
	margin: 10px;
}

iframe {
	text-align: none;
	border-color: red;
}
