/*
Other elements to style:
  inputs
  buttons
  lists to avoid bullets, etc.
  style the .center class
*/

body {
  background: #FF0000;
  font-family: "Tahoma", Helvetica, sans-serif;
  text-align:center;
  }

h1 {
  font-size: 55px;
  color: #FFFFFF;
  font-family: 'Ruslan Display', cursive;
  text-shadow: 1px 1px 3px #050505
}

h2 {
  font-size: 26px;
  color: #007511;
  font-variant: small-caps;
  text-shadow: 1px 1px 3px #050505
}

h3 {
  font-size: 20px;
  color:#505050;
  font-variant: small-caps;
}

p {
  color: white;
  font-size: 14px;
  margin-left: 14px;
  margin-right: 14px; 
  margin-top: 14px
  
}

.maintable {
  width: 60%;
  background-color: lightgrey;
  border-style: solid;
  }

td {
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px
}

a {
  color: #e0d000;  
}

.input_box{
  text-align:center;
  width:30%;
  margin: 0 auto;
}

legend{
  border:1px solid gray;
  text-align:left;
   background:#E0E0E0;
}

.login_tag{
  text-align:right;
}

fieldset{
  background:#A0A0A0;
  border-radius:5px;
}

#btn_email{
background-color: #999966;
border: none;
border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;
color: #f4f4f4;
cursor: pointer;
height: 50px;
text-transform: uppercase;
width: 250px;
}

#btn_login{
background-color: #999966;
border: none;
border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;
color: #f4f4f4;
cursor: pointer;
height: 50px;
text-transform: uppercase;
width: 250px;
}

#email{
background-color: #e5e5e5;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #5a5656;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 14px;
height: 50px;
outline: none;
padding: 0px 10px;
width: 280px;
-webkit-appearance:none;
}

#student_id{
  background-color: #e5e5e5;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #5a5656;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 14px;
height: 50px;
outline: none;
padding: 0px 10px;
width: 280px;
-webkit-appearance:none;
}

#login_password{
  background-color: #e5e5e5;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #5a5656;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 14px;
height: 50px;
outline: none;
padding: 0px 10px;
width: 280px;
-webkit-appearance:none;
/*Rygar Stop This Madness!!!
}
