

h3 {
  font-size: 20px;
  color:#505050;
  font-variant: small-caps;
}
p {
  color: white;
  font-size: 14px;
  margin-left: 14px;
  margin-right: 14px; 
  margin-top: 14px
  
}

a {
  color: #e0d000;  
}


