/*
Other elements to style:
  inputs
  buttons
  lists to avoid bullets, etc.
  style the .center class
*/

body {
  background: #81bb50;
  font-family: "Tahoma", Helvetica, sans-serif;
  text-align:center;
  }

h1 {
  font-size: 45px;
  color: #007511;
  font-variant: small-caps;
  text-shadow: 1px 1px 3px #050505
}

h2 {
  font-size: 26px;
  color: #007511;
  font-variant: small-caps;
  text-shadow: 1px 1px 3px #050505
}

h3 {
  font-size: 20px;
  color:#505050;
  font-variant: small-caps;
}
p {
  color: white;
  font-size: 14px;
  margin-left: 14px;
  margin-right: 14px; 
  margin-top: 14px
  
}

.maintable {
  width: 60%;
  background-color: lightgrey;
  border-style: solid;
  }

td {
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px
}
a {
  color: #e0d000;  
}

.input_box{
  text-align:center;
  width:30%;
  margin: 0 auto;
}

legend{
  border:1px solid gray;
  text-align:left;
   background:#E0E0E0;
}

.login_tag{
  text-align:right;
}

fieldset{
  background:#E0E0E0;
}

